---
---

@import "{{ site.theme }}";

body {
  color: black;
  background: white;
}

p {
  color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h4 {
  color: black;
}
