---
---

@import "{{ site.theme }}";

body {
  color: #000000;
}

.inner {
  width: 85%;
}

p {
  color: #000000;
}

header h1 {
  color: #000000;
}

header h2 {
  color: #000000;
}

h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

h3 {
  color: #000000;
}

h4 {
  color: #000000;
}
